@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	
}

body{
	background-color: #f6f3ff;
	width: 100%;
}


a{
	text-decoration: none;
}

.border{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	border-left: 50px solid #ffffff;
	border-right: 50px solid #ffffff;
}

.Dropdown-Mobile{
	display: none;
}

@media screen and (max-width: 565px) {
	.Dropdown-Mobile{
		display: flex;
	}
}

